<div>
  <fieldset>
    <legend>Details</legend>
    <div class="form-group">
      <label class="col-lg-3 control-label">Age</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="age" placeholder="Age" value="{{age}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Name</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Avatar</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="avatar" placeholder="Avatar" value="{{avatar}}">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Title</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{title}}">
      </div>
      <div class="col-log-5 hint">Job Title at Planet Express</div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Species</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="species" placeholder="Species" value="{{species}}">
      </div>
      <div class="col-log-5 hint">Ex: Human, Robot, Mutant</div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Origin</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="origin" placeholder="Origin" value="{{origin}}">
      </div>
      <div class="col-log-5 hint">Planet they were born on</div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Quote</legend>
    <div class="form-group">
      <label class="col-lg-3 control-label">Quote</label>
      <div class="col-lg-7">
        <textarea name="quote" class="form-control" rows=3>{{quote}}</textarea>
      </div>
    </div>
  </fieldset>
</div>
