<div class="row">
  <div class="col-md-12">
    <div class="crew-member">
      <div class="col-md-3 text-center">
        <img src="images/{{avatar}}" class="img-rounded"/>
      </div>
      <div class="col-md-9 stats-container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5 attribute-label">Age</div>
              <div class="col-md-7">{{age}}</div>
            </div>
            <div class="row">
              <div class="col-md-5 attribute-label">Name</div>
              <div class="col-md-7">{{name}}</div>
            </div>
            <div class="row">
              <div class="col-md-5 attribute-label">Title</div>
              <div class="col-md-7">{{title}}</div>
            </div>
            <div class="row">
              <div class="col-md-5 attribute-label">Species</div>
              <div class="col-md-7">{{species}}</div>
            </div>
            <div class="row">
              <div class="col-md-5 attribute-label">Origin</div>
              <div class="col-md-7">{{origin}}</div>
            </div>
          </div>
          <div class="col-md-6 stats">
            <blockquote>
              <div class="row text-center">
                <div class="col-md-6">
                  <div>
                    <span class="badge completed">5</span>
                  </div>
                  <div class="stat-type">Completed</div>
                </div>
                <div class="col-md-6">
                  <div>
                    <span class="badge earning">$5,000</span>
                  </div>
                  <div class="stat-type">Earnings</div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="crew-delete">
        <button class="btn btn-warning btn-sm">
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</div>